@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*
CSS Keyframe Animations
*/

@keyframes jump {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

@keyframes wobble {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(5deg);
    }

    30% {
        transform: rotate(-5deg);
    }

    45% {
        transform: rotate(3deg);
    }

    60% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes pulse {

    0%,
    100% {
        text-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5);
    }

    50% {
        text-shadow: 0 0 25px rgba(0, 255, 255, 1), 0 0 30px rgba(0, 255, 255, 1);
    }
}

/*
CSS for Overlay Layer
*/

.full-screen-overlay {
    position: fixed;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.75);
}

.full-screen-overlay-exit-text {
    color: white;

    font-weight: 600;
    font-size: 36px;
    font-family: "Fira Code", monospace;

    padding-top: 24px;

    animation: pulse 1.5s infinite;
    cursor: pointer;
}

.full-screen-overlay-arrows {
    margin: 24px;

    cursor: pointer;
}

/*
CSS for BG
*/

.bg-image {
    position: fixed;
    top: 0;
    left: 0;

    min-width: 800px;
    overflow: hidden;

    width: 100vw;
    height: 100vh;

    z-index: -1;
}

/*
CSS for Section Headers
*/

.section-header {
    font-size: 32px;
    font-weight: 400;

    padding-left: 16px;
}

.header-num {
    color: red;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.header-title {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

/*
CSS for Navigation Bar
*/

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 2px;
    margin-bottom: 24px;

    background: linear-gradient(90deg, #82eb82, #b8e8ef);
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.3);
}

.navbar-logo {
    font-size: 36px;

    margin-left: 16px;
}

.navbar-title {
    font-size: 32px;
    font-family: "Averia Serif Libre", serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);

    padding-left: 16px;
}

.navbar-toolbar {
    display: flex;
    flex-direction: row;
}

.navbar-tools {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 8px 12px;
    margin: 2px 0px;
    border: 2px transparent solid;

    transition: color 0.2s ease;
}

.navbar-tools:hover {
    border: 2px white solid;
}

.navbar-tools:hover .navbar-tool-icon {
    color: #606060;
}

.navbar-tools:hover .navbar-tool-label {
    text-decoration: underline;
}

.navbar-tool-icon {
    font-size: 32px;
    margin-bottom: 4px;
}

.navbar-tool-label {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/*
CSS for About Section
*/

#about {
    padding: 16px;
    margin-bottom: 32px;
}

.about-description {
    padding: 0px 32px;
    width: 540px;
}

.about-description-heading {
    display: flex;
    flex-wrap: nowrap;

    width: fit-content;

    font-size: 48px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;

    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);

    color: black;
}

.about-description-h2 {
    color: transparent;
    text-shadow: 0px 0px;

    background: linear-gradient(45deg,
            #b00000 25%,
            #d00000 50%,
            #f00000 75%);

    background-size: 200% auto;
    background-position: 0% 0;
    transition: background-position 0.5s ease;

    background-clip: text;
    -webkit-background-clip: text;
}

.about-description-heading:hover .about-description-h1 {
    animation: wobble 2s ease;
}

.about-description-heading:hover .about-description-h2 {
    animation: shimmer 2s infinite linear;
}

.about-description-paragraph {
    font-size: 16px;
    font-weight: 500;
    font-family: "Source Code Pro", monospace;
}

.about-description-paragraph-ul {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

    text-decoration: underline solid #006db0;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.about-spotify {
    margin-right: 32px;
}

.spotify-form {
    display: flex;
    align-items: center;

    font-size: 14px;

    padding: 16px;
}

.spotify-form-input {
    padding: 4px 8px;

    background-color: white;
    border: black solid 1px;
    border-radius: 4px;
}


@media (max-width: 1000px) {
    .spotify-form {
        flex-direction: column;
    }

    .spotify-form-input {
        margin-bottom: 8px;
    }
}

@media (min-width: 1001px) {
    .spotify-form {
        flex-direction: row;
    }

    .spotify-form-input {
        margin-right: 16px;
    }
}

/*
CSS for Projects Section
*/

#projects {
    background-color: #001150;

    width: 100%;

    padding: 16px;
}

@media (min-width: 1201px) {
    .projects .section-header {
        min-width: 300px;
    }
}

.projects .section-header .header-title {
    color: white;

    padding-right: 32px;
}

.projects-container {
    flex-grow: 1;

    padding: 32px;
}

.projects-display-section {
    margin-bottom: 32px;
}

.projects-header-arrow {
    display: inline-block;

    cursor: pointer;

    padding: 0;
    margin: 0;
}

.projects-header-title {
    font-size: 48px;
    font-weight: 200;
}

.projects-header-index {
    display: inline-block;

    font-size: 24px;
    font-family: "Source Code Pro", monospace;

    padding: 0px 32px;
}

.projects-header-arrow {
    width: 32px;
    height: 32px;
}

.projects-header-arrow:hover {
    fill: #bababa;
}

.projects-display-section {
    margin-bottom: 32px;
}

.project-img-container {
    display: flex;
    flex-shrink: 0;

    margin-right: 48px;
}

.project-img,
.project-img-none {
    height: 256px;
    width: auto;

    margin-bottom: 16px;

    border-radius: 20px;
    border: 2px solid transparent;

    transition: transform 0.5 ease-in-out;
}

.project-img-none {
    margin: 20px 0px;
}

.project-img-container:hover .project-img {
    opacity: 0.7;
    cursor: pointer;

    border: 2px solid white
}

.project-img-index {
    position: absolute;
    top: 0;
    left: 0;

    color: white;
    font-size: 24px;

    margin: 8px 0px 0px 12px;

    opacity: 0;
}

.project-img-zoom {
    position: absolute;
    top: 0;
    right: 0;

    width: 24px;
    height: 24px;

    margin: 12px 12px 0px 0px;

    opacity: 0;
}

.project-img-container:hover .project-img-zoom, .project-img-container:hover .project-img-index {
    opacity: 1.0;
}

.project-focus-img {
    max-height: 512px;
    width: auto;
    height: auto;

    border-radius: 20px;
    border: 2px solid transparent;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.3);
}

.project-img:hover {
    opacity: 0.8;
    cursor: pointer;

    border: 2px solid white
}

.projects-details-title {
    color: #5f9bad;

    font-size: 24px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;

    margin-bottom: 12px;
}

/*
CSS for Tools Section
*/

#tools {
    background-color: #addbe2;
    padding: 16px;
}

/*
CSS for Contact Section
*/

#contact {
    padding: 16px;
    margin: 8px 0px;
}

.contact-div {
    justify-content: center;
}

.contact-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-entry-icon {
    font-size: 32px;
}

.contact-entry:hover .contact-entry-icon {
    animation: jump 0.6s ease 3;
}

.contact-entry-text {
    font-size: 20px;
    padding-left: 16px;
}

/*
CSS for Footer
*/

.footer {
    font-size: 12px;

    color: white;
    background-color: #404040;

    border-top: 2px;
    border-color: black;
    border-style: solid;

    margin-top: 16px;
    padding: 12px;
}