@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*
CSS Keyframe Animations
*/

@keyframes jump {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

@keyframes wobble {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(4deg);
    }

    30% {
        transform: rotate(-4deg);
    }

    45% {
        transform: rotate(2deg);
    }

    60% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/*
CSS for BG
*/

.bg-image {
    position: fixed;
    top: 0;
    left: 0;

    min-width: 800px;
    overflow: hidden;

    width: 100vw;
    height: 100vh;

    z-index: -1;
}

/*
CSS for Section Headers
*/

.section-header {
    font-size: 32px;
    font-weight: 400;

    padding-left: 16px;
}

.header-num {
    color: red;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.header-title {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

/*
CSS for Navigation Bar
*/

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 4px;
    margin-bottom: 24px;

    background: linear-gradient(90deg, #98fb98, #b0e0e6);
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.3);
}

.navbar-logo {
    width: 56px;
    height: 56px;

    margin-left: 16px;
}

.navbar-title {
    font-size: 36px;
    font-family: "Averia Serif Libre", serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

    padding-left: 16px;
}

.navbar-toolbar {
    display: flex;
    flex-direction: row;
}

.navbar-tools {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 8px 16px;
    border: 2px transparent solid;

    transition: color 0.2s ease;
}

.navbar-tools:hover {
    border: 2px white solid;
}

.navbar-tools:hover .navbar-tool-icon {
    color: #3f3f3f;
}

.navbar-tools:hover .navbar-tool-label {
    text-decoration: underline;
}

.navbar-tool-icon {
    font-size: 36px;
    margin-bottom: 4px;
}

.navbar-tool-label {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

/*
CSS for About Section
*/

#about {
    padding: 16px;
    margin-bottom: 32px;
}

.about-description {
    padding: 0px 32px;
    width: 540px;
}

.about-description-heading {
    display: flex;
    flex-wrap: nowrap;

    font-size: 48px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;

    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);

    color: black;
}

.about-description-h2 {
    color: transparent;
    text-shadow: 0px 0px;

    background: linear-gradient(45deg,
            #b00000 25%,
            #d00000 50%,
            #f00000 75%);

    background-size: 200% auto;
    background-position: 0% 0;
    transition: background-position 0.5s ease;

    background-clip: text;
    -webkit-background-clip: text;
}

.about-description-heading:hover .about-description-h1 {
    animation: wobble 2s ease;
}

.about-description-heading:hover .about-description-h2 {
    animation: shimmer 2s infinite linear;
}

.about-description-paragraph {
    font-size: 16px;
    font-weight: 500;
    font-family: "Source Code Pro", monospace;
}

.about-description-paragraph-ul {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

    text-decoration: underline solid #006db0;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

.about-spotify {
    margin-right: 32px;
}

.spotify-form {
    display: flex;
    align-items: center;

    font-size: 14px;

    padding: 16px;
}

.spotify-form-input {
    padding: 4px 8px;

    border-radius: 8px;
    border: 3px solid black;

    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}


@media (max-width: 1000px) { /* Change layout for smaller screens */
    .spotify-form {
        flex-direction: column;
    }
    .spotify-form-input {
        margin-bottom: 8px;
    }
}

@media (min-width: 1001px) { /* Change layout for smaller screens */
    .spotify-form {
        flex-direction: row;
    }
    .spotify-form-input {
        margin-right: 16px;
    }
}

.spotify-form-submit {
    color: white;
    background-color: #1b1bff;

    padding: 2px 8px;
    border-radius: 12px;
    border: 2px solid black;

    box-shadow: 2px 2px 4px 2px rgb(15, 0, 175, 0.2);

    cursor: pointer;
    transition: background-color ease 0.5s;
}

.spotify-form-submit:hover {
    background-color: #000ad0;
}

/*
CSS for Projects Section
*/

#projects {
    background-color: #00145e;
    padding: 16px;
}

.projects .section-header .header-title {
    color: white;
}

/*
CSS for Tools Section
*/

#tools {
    background-color: #a5e2ea;
    padding: 16px;
}

/*
CSS for Contact Section
*/

#contact {
    padding: 16px;
    margin: 8px 0px;
}

.contact-div {
    justify-content: center;
}

.contact-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-entry-icon {
    font-size: 32px;
}

.contact-entry:hover .contact-entry-icon {
    animation: jump 0.6s ease 3;
}

.contact-entry-text {
    font-size: 20px;
    padding-left: 16px;
}

/*
CSS for Footer
*/

.footer {
    font-size: 12px;

    color: white;
    background-color: #404040;

    border-top: 2px;
    border-color: black;
    border-style: solid;

    margin-top: 16px;
    padding: 12px;
}