@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*
CSS Keyframe Animations
*/

@keyframes jump {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }
}

@keyframes wobble {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(5deg);
    }

    30% {
        transform: rotate(-5deg);
    }

    45% {
        transform: rotate(3deg);
    }

    60% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes fadeFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeFromRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoom {
    from {
        transform: scale(0.4)
    }

    to {
        transform: scale(1)
    }
}

/*
Helper CSS for Animations
*/

.zoom {
    animation: zoom 0.8s;
}

/*
CSS for BG
*/

.bg-image {
    position: fixed;
    top: 0;
    left: 0;

    min-width: 960px;
    overflow: hidden;

    width: 100vw;
    height: 100vh;

    z-index: -1;
}

/*
CSS for Section Headers
*/

.section-header {
    font-size: 32px;
    font-weight: 400;

    padding-left: 16px;
}

.header-num {
    color: red;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.header-title {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

/*
CSS for Navigation Bar
*/

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 1px 2px;
    margin-bottom: 24px;

    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background: linear-gradient(90deg, #a0f6a0, #b8e7ee),
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23cdf8ff' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

.navbar-logo {
    font-size: 36px;

    margin-left: 16px;
}

.navbar-title {
    font-size: 32px;
    font-family: "Averia Serif Libre", serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);

    padding-left: 16px;
}

.navbar-toolbar {
    display: flex;
    flex-direction: row;
}

.navbar-tools {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 8px 12px 2px 12px;

    transition: color 0.2s ease;
}


.navbar-tools:hover .navbar-tool-label {
    text-decoration: underline;
    text-shadow: 0 0 2px currentColor;
}


.navbar-tool-icon {
    font-size: 32px;
    margin-bottom: 4px;
}

.navbar-tool-label {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/*
CSS for About Section
*/

#about {
    padding: 16px;
    margin-bottom: 32px;
}

.about-description {
    padding: 0px 32px;
    width: 540px;
}

.about-description-heading {
    display: flex;
    flex-wrap: nowrap;

    width: fit-content;

    font-family: "Raleway", sans-serif;

    color: black;
    text-shadow:
        -1px -1px 2px rgba(246, 217, 190, 0.4),
        1px -1px 2px rgba(246, 217, 190, 0.4),
        -1px 1px 2px rgba(246, 217, 190, 0.4),
        1px 1px 2px rgba(246, 217, 190, 0.4),
        2px 2px 2px rgba(0, 0, 0, 0.4);
}

.about-description-heading {
    animation: fadeFromTop 1.0s ease-out;
}

.about-description-heading:hover .about-description-h1 {
    animation: wobble 1.5s ease-out;
}

.about-description-h1 {
    font-size: 96px;
    padding-right: 24px;
}

.about-description-h2 {
    font-size: 48px;
    font-weight: 600;
}

.about-description-h2-name {
    background-image: url("https://www.svgrepo.com/show/532659/sparkles.svg");
    color: #0026ad;
}

.about-description-h3 {
    font-size: 20px;
    font-weight: 700;
}

.about-description-paragraph {
    font-size: 16px;
    font-weight: 500;
    font-family: "Source Code Pro", monospace;

    animation: fadeFromRight 1.0s ease-out;
}

.about-description-paragraph-ul {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

    text-decoration: underline solid #006db0;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.about-avatar {
    width: 256px;
    height: 256px;
    margin-bottom: 16px;

    border-radius: 50%;
    object-fit: cover;
    border: 4px solid black;
}

/*
CSS for Contact Section
*/

.contact-details {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding-right: 16px;
}

.contact-entry {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Source Code Pro", monospace;
}

.contact-entry-icon {
    font-size: 32px;
}

.contact-entry:hover .contact-entry-icon {
    animation: jump 0.6s ease 3;
}

.contact-entry-title {
    padding-left: 16px;
    font-size: 24px;
}

.contact-entry-text {
    font-size: 20px;
}

/*
CSS for Projects Section
*/

#projects {
    display: flex;
    flex-direction: row;

    width: 100%;
    padding: 16px;


    background:  linear-gradient(to bottom, #090030, #001150, #001666, #001666, #001150) no-repeat, #001150;
    background-size: 100% 720px, 100% 100%;
    background-position: top, top;
}

.projects-section-header {
    padding-top: 312px;
}

@media (min-width: 1201px) {
    .projects-section-header .section-header {
        min-width: 300px;
    }
}

.projects-section-header .section-header .header-title {
    color: white;

    padding-right: 32px;
}

.projects-container {
    flex-grow: 1;

    padding: 12px 24px;
}

.projects-display-section {
    display: flex;
    flex-direction: column;

    margin-bottom: 16px;
    overflow: hidden;
}

.projects-header-arrow {
    display: inline-block;

    cursor: pointer;

    padding: 0;
    margin: 0;
}

.projects-header-title {
    font-size: 42px;
    font-weight: 200;
}

.projects-header-index {
    font-size: 24px;
}

.projects-img-slides-index {
    font-size: 20px;
}

.projects-header-index,
.projects-img-slides-index {
    display: inline-block;
    padding: 0px 32px;

    font-family: "Source Code Pro", monospace;
    user-select: none;
}

.projects-header-arrow,
.projects-img-arrow {
    font-size: 32px;

    cursor: pointer;
    transition: 0.2s;
}

.projects-header-arrow:hover,
.projects-img-arrow:hover {
    fill: #bababa;
}

.project-img-container {
    display: flex;
    flex-shrink: 0;

    margin-right: 48px;
}

.project-img,
.project-img-none {
    height: 256px;
    width: auto;

    margin-bottom: 16px;

    border-radius: 20px;
    border: 2px solid transparent;

    user-select: none;
    transition: 0.3s ease;
}

.project-img-container:hover .project-img {
    opacity: 0.7;
    cursor: pointer;

    border: 2px solid white
}

.project-img-zoom {
    position: absolute;
    top: 0;
    right: 0;

    width: 24px;
    height: 24px;

    margin: 12px 12px 0px 0px;

    opacity: 0;
}

.project-img-container:hover .project-img-zoom {
    opacity: 1.0;
}

.project-img:hover {
    opacity: 0.8;
    cursor: pointer;

    border: 2px solid white
}

#project-focus-img-modal {
    display: none;
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

#project-focus-img {
    display: block;

    max-height: 512px;
    width: auto;
    height: auto;

    margin: auto;
    border-radius: 20px;
    border: 2px solid transparent;

    user-select: none;
}

.project-focus-img-arrow {
    margin: 32px;

    color: white;
    font-size: 32px;

    cursor: pointer;
}

.project-focus-img-modal-close {
    position: absolute;
    top: 36px;
    right: 36px;

    color: white;
    font-size: 48px;

    cursor: pointer;
    transition: 0.2s;
}

.project-focus-img-modal-close:hover {
    fill: #bababa;
}

.projects-details-title {
    color: #5f9bad;

    font-size: 24px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;

    margin-bottom: 12px;

    text-shadow:
        -1px -1px 4px rgba(0, 0, 0, 0.6),
        1px -1px 4px rgba(0, 0, 0, 0.6),
        -1px 1px 4px rgba(0, 0, 0, 0.6),
        2px 2px 4px rgba(0, 0, 0, 0.6);
}

.projects-details-section {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1001px) {
    .projects-details-section {
        flex-direction: row;
        width: 100%;
    }
}

.projects-description-container {
    display: flex;
    flex-direction: column;

    padding-right: 64px;
}

.projects-tech-stack {
    width: 100%;
    flex-grow: 1;
}

.projects-tech-stack-grid {
    display: grid;
    width: 100%;

    grid-template-columns: repeat(auto-fit, minmax(120px, max-content));
    gap: 16px;
}

.projects-tech-stack-item {
    color: white;
    background: linear-gradient(to right, #6a94c9, #b0d9e9);
    text-align: center;
    text-shadow:
        -1px -1px 2px rgba(0, 0, 0, 0.6),
        1px -1px 2px rgba(0, 0, 0, 0.6),
        -1px 1px 2px rgba(0, 0, 0, 0.6),
        2px 2px 2px rgba(0, 0, 0, 0.6);

    padding: 6px;
    border-radius: 20px;
    border: 2px solid black;

    font-size: 16px;
    font-weight: 500;

    transition: transform 0.2s ease;
}

.projects-tech-stack-item:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/*
CSS for Tools Section
*/

#tools {
    /* background-color: #addbe2; */
    padding: 16px;
}

/*
CSS for Footer
*/

.footer {
    font-size: 12px;

    color: white;
    background-color: #404040;

    border-top: 2px;
    border-color: black;
    border-style: solid;

    padding: 12px;
}

/*
Testing Area Below:
*/